div {
    border: 1px solid;
    padding: 5%;
    display: inline-block;
}

#container{
    border: none;
    display: inline;
    padding: 0px;
}

#buttonWrapper{
    border: medium none;
    display: inline;
    padding: 0px;
}

h2, h4 {
    margin-top: 0;
    margin-bottom: 1px;
    text-align: right;
    font-style: italic;
    font-family: Serif;
    color: rgba(233, 233, 233, 0.82);
}

.container {
    margin-top: 1%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 35px;
    border: 2px solid;
}

.section {
    display: block;
    padding: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
    border-radius: 35px;

}

.wrapper {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}

.label {
    display: inline;
    margin-left: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
}

.buttonNewSection {
    border: 1px solid;
    border-radius: 5px;
}

.textFieldSection {
    border: 1px solid;
    border-radius: 5px;
    margin: 1px;
}